<div class="row">
    <div class="col-md-6">
        <div class="pagination">
            <a href="#" class="page-link">Poprzednia</a>
            <% for(let i = 2; i <= paginationConfig.pagesCount; i++) { %>
                <a href="#" class="page-link"><%= i %></a>
            <% } %>
            <a href="#" class="page-link">Następna</a>
        </div>
    </div>
</div>