<%- include('../layouts/error') %>

<div class="error-container">
  <div class="error-main">
    <div class="icon">❗</div>
    <h1 class="error-code">400</h1>
    <h2 class="error-message">Błąd walidacji</h2>
    <% if (typeof message !== 'undefined') { %>
      <p class="error-description"><%= message %></p>
    <% } else { %>
      <p class="error-description">Nieprawidłowe dane wejściowe.</p>
    <% } %>
    <a href="javascript:history.back()" class="btn-home">Wróć</a>
    <div class="helpful-links">
      <p>Możliwe przyczyny:</p>
      <ul>
        <li>Wysłano nieprawidłowe dane formularza</li>
        <li>Brakuje wymaganych pól</li>
        <li>Wartości nie spełniają kryteriów walidacji</li>
      </ul>
    </div>
  </div>
</div> 