<div class="error-container">
  <div class="error-main">
    <div class="icon"></div>
    <h1 class="error-code">404</h1>
    <h2 class="error-message">Ups! Strona nie zostaa znaleziona</h2>
    <p class="error-description">
      Przepraszamy, ale strona kt贸rej szukasz nie istnieje lub zostaa przeniesiona.<br>
      Sprawd藕 czy adres URL jest poprawny lub wr贸 do strony g贸wnej.
    </p>
    <a href="/" class="btn-home"> Wr贸 do strony g贸wnej</a>
    <div class="helpful-links">
      <p>Mo偶liwe przyczyny:</p>
      <ul>
        <li>Wpisae nieprawidowy adres URL</li>
        <li>Strona zostaa usunita lub przeniesiona</li>
        <li>Link jest uszkodzony</li>
      </ul>
    </div>
  </div>
</div>
