<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
            <div class="auth-container">
                <h1 class="auth-title">Edytuj profil</h1>
                <form class="auth-form" method="POST" action="/admin/profil/edytuj">
                    <%- include('profile-form-fields', { errors, formData }) %>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success w-100">Zapisz zmiany</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 