<div class="container">
    <section class="content">
        <h2>Główna treść</h2>
        <p>To jest główna sekcja treści. Tutaj możesz umieścić najważniejsze informacje dla odwiedzających.</p>
        
        <h3>Funkcjonalności</h3>
        <ul>
            <li>Responsywny design</li>
            <li>Czytelna typografia</li>
            <li>Przyjazna nawigacja</li>
            <li>Nowoczesny wygląd</li>
        </ul>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
        <a href="#" class="btn">Dowiedz się więcej</a>
    </section>
    
    <aside class="sidebar">
        <h3>Panel boczny</h3>
        <p>Tutaj mogą znajdować się dodatkowe informacje, linki lub menu.</p>
        
        <h4>Szybkie linki</h4>
        <ul>
            <li><a href="/profile">Zobacz profile</a></li>
            <li><a href="/kontakt">Skontaktuj się</a></li>
            <li><a href="#">Pomoc</a></li>
        </ul>
        
        <h4>Aktualności</h4>
        <p>Najnowsze wiadomości i aktualizacje będą tutaj wyświetlane.</p>
    </aside>
</div>
